$def with()
<!DOCTYPE html>
<html>
	<head>
	<title>新增商家</title>
		<link rel="stylesheet" type="text/css" href="/static/css/master.css" />
	</head>
<body>

<div class="title">»新增商家</div>
<div class="hr"></div>
<div style="width:500px">
<form method="post">
<p>1.基本资料</p>
<p><span class="td">商家编号:</span><input type="text" name="patternid"/></p>
<p><span class="td">用户名：</span><input type="text" name="username" /></p>
<p><span class="td">密码：</span><input type="password" name="userpwd" id="pwd"/>&nbsp;*用于通知账户信息，请认真填写</p>
<p><span class="td">确认密码：</span><input type="password" id="repwd"/></p>
<div class="rtalign">
	<input type="submit" value="注册"/>
</div>
</form>
</div>

</body>
</html>