$def with(partner)
<div class="b_footer w830">
     <p><a  href="/about">关于我们</a>|<a  href="#">联系我们</a>|<a href="#">餐馆加盟</a>|<a href="#">加入我们</a>|<a href="#">重要声明</a>|<a href="#">友情链接</a>|<a href="#">博客</a>|<a href="#" style="margin-right:0;">帮助中心</a></p>
     <p class="copyright">&copy;2012&nbsp;$:partner['name']&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank">沪ICP备83016235号</a></p>
</div>
<!-- 
<script src="http://24448.fy.kf.qycn.com/vclient/state.php?webid=24448" language="javascript" type="text/javascript"></script>
-->
<!-- system version 0.1.1   updated at 2012-06-10 -->